
html, body, #root {
  height: 100%;
}
.ant-menu-submenu-popup{
  background: #fff;
}
body {
  margin: 0;
}
.ant-layout-header{
  padding: 0;
}
.margin-bottom{
  margin-bottom: 15px;
}
.mr10{
  margin-right: 10px;
}
.mb10{
  margin-bottom: 10px;
}
.ml10{
  margin-left: 10px;
}
.text-right{
  text-align: right;
}
/* .text-center{
  text-align: right;
} */

.ant-card-head{
  padding: 0 10px;
}
.ant-card-head-title,.ant-card-extra{
  padding: 10.5px 0;
}
.ant-card-body{
  padding: 10px;
}
.ant-table-tbody{
  background-color: #fff;
}
.btn{
  margin-bottom:10px;
}

.noAllSelect .ant-table-thead .ant-table-selection{
  display: none;
}
